# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
venv/
.venv/
env/

# Node
node_modules/
dist/
build/
npm-debug.log*

# Env
.env
.env.local

# Video assets (filesystem-only, not versioned)
backend/videos/*
!backend/videos/.gitkeep

# docs
uploading.videos.md
deploying.portf.md
routing.placards.md
